<footer class="mt-10 bg-white py-8 dark:bg-slate-800">
  <div class="space-y-1">
    <span
      class="mx-auto block max-w-7xl px-4 text-center text-sm text-gray-500 dark:text-slate-300 lg:px-6"
      th:if="${not #strings.isEmpty(theme.config.beian.icp_text)}"
    >
      <a
        href="https://beian.miit.gov.cn/"
        class="hover:underline"
        target="_blank"
        th:href="${theme.config.beian.icp_link}"
        th:text="${theme.config.beian.icp_text}"
      ></a>
    </span>
    <div
      th:if="${not #strings.isEmpty(theme.config.beian.gongan_text)}"
      class="mx-auto block max-w-7xl px-4 text-center text-sm text-gray-500 dark:text-slate-300 lg:px-6"
    >
      <p class="flex items-center justify-center gap-1">
        <img th:src="@{/assets/images/gongan_beian.png}" class="size-4" alt="gongan_beian" />
        <a
          href="https://beian.mps.gov.cn/#/query/webSearch"
          class="hover:underline"
          target="_blank"
          th:href="${theme.config.beian.gongan_link}"
          th:text="${theme.config.beian.gongan_text}"
        ></a>
      </p>
    </div>
    <span class="mx-auto block max-w-7xl px-4 text-center text-sm text-gray-500 dark:text-slate-300 lg:px-6">
      ©
      <th:block th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy')}" />
      <a href="/" class="hover:underline" th:text="${site.title}"></a>. All Rights Reserved.
    </span>
    <span class="mx-auto block max-w-7xl px-4 text-center text-sm text-gray-500 dark:text-slate-300 lg:px-6">
      <halo:footer />
    </span>
  </div>
</footer>
